<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Vue Bootzapp</title>

   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">

   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />

   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"
      defer></script>
   <link rel="stylesheet" href="./assets/css/style.css">

</head>

<body>
   <div id="app">
      <div class="my_background d-flex justify-content-end align-items-center flex-column"
         :class="light ? '' : 'dark_layout' ">
         <div class="position-fixed text-light top-0 end-0 m-3 c_pointer" v-if="!light" @click="changeLayout()"><i
               class="fa-solid fa-sun fa-xl"></i>
         </div>
         <div class="position-fixed text-light top-0 end-0 m-3 c_pointer" v-if="light" @click="changeLayout()"><i
               class="fa-solid fa-moon fa-xl"></i>
         </div>
         <div class="position-fixed text-light top-0 start-0 m-3 c_pointer" @click="addContact()"
            data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions"><i class="fa-solid fa-plus fa-xl"></i>
         </div>
         <div class="offcanvas offcanvas-start w-25 p-2" data-bs-scroll="true" tabindex="-1"
            id="offcanvasWithBothOptions">
            <div class="offcanvas-header">
               <div id="offcanvasWithBothOptionsLabel">Nuovo contatto</div>
               <button type="button" class="btn-close fs-6 align-middle" data-bs-dismiss="offcanvas"
                  aria-label="Close"></button>
            </div>
            <div class="offcanvas-body d-flex flex-column align-items-center p-1">
               <form action="">
                  <label for="newName" class="col-form-label fs_12 ">Nome</label>
                  <input id="newName" class="input-group border border-2 m-1" type="text" v-model="nameNewContact" autofocus>
                  <label for="newAvatar" class="col-form-label fs_12 ">Link immagine profilo</label>
                  <input id="newAvatar" class="input-group border border-2 m-1 text-start" type="text"
                     v-model="linkNewAvatar">
                  <button
                     class=" rounded-pill background_primary bordre border-0 fs_12 m-2 py-2 px-4 text-white" @click.prevent="">Aggiungi
                     nuovo contatto</button>
               </form>
            </div>
         </div>

         <!-- 
         <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">Enable both scrolling & backdrop</button>

         <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
           <div class="offcanvas-header">
             <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Backdrop with scrolling</h5>
             <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
           </div>
           <div class="offcanvas-body">
             <p>Try scrolling the rest of the page to see this option in action.</p>
           </div>
         </div> -->







         <main class="my_container d-flex">
            <!-- create a container for the various chats (chat lists)  -->
            <div class="sidebar col-4 h-100">
               <!--  user profile plus navbar -->
               <div
                  class="user_profile standard_height d-flex justify-content-between align-items-center p-2 background_secondary">
                  <div class="users_img d-flex align-items-center">
                     <img class="align-middle rounded-circle" src="./assets/img/avatar_io.jpg" alt="users_avatar">
                     <div class="user_name ms-2 fs_12 fw-bold primary_text">Sofia</div>
                  </div>
                  <nav class="user_option d-flex align-items-center">
                     <button class="border border-0 bg-transparent"><i class="fa-solid fa-circle-notch"></i></button>
                     <button class="border border-0 bg-transparent"><i class="fa-solid fa-message"></i></button>
                     <button class="border border-0 bg-transparent"><i
                           class="fa-solid fa-ellipsis-vertical"></i></button>
                  </nav>
               </div>
               <!-- add notification banner  -->
               <div class="turn_on_notifications standard_height p-2 overflow-hidden">
                  <div class="users_img d-flex align-items-center h-100">

                     <div class="bell_icon align-middle rounded-circle">
                        <i class="fa-solid fa-bell-slash"></i>
                     </div>
                     <div class="info ms-2 d-flex flex-column">
                        <div class="fs_9 fw-bold">Ricevi notifiche di nuovi messaggi</div>
                        <a href="#" class="fs_7 primary_text">Attiva notifiche desktop</a>
                     </div>
                  </div>
               </div>
               <!-- search name in chats list  -->
               <div class="input_container d-flex align-items-center">
                  <div class="bg-white fs_12 d-flex align-items-center px-3"><i
                        class="fa-xs fa-solid fa-magnifying-glass mt-1"></i>
                  </div>
                  <input type="search" class="w-100" placeholder="Cerca o inizia una nuova chat"
                     class="border border-0 fs_10" v-model="searchInput" @input.trim="functionSearch()">
               </div>
               <!-- create chats list  -->
               <div class="chats_container">
                  <div
                     class="chats_list p-2 d-flex justify-content-between standard_list_height c_pointer overflow-hidden"
                     :class="index == currentIndex ? 'chat_clicked' : '' " v-for="(contact,index) in contacts"
                     @click="changeCurrentIndex(index)">

                     <div class="chat_contact_info d-flex">
                        <div class="img_container">
                           <img class="h-100" :src="contact.avatar" :alt="contact.name">
                        </div>
                        <div class="info_chat ms-2 d-flex flex-column justify-content-center">
                           <div class="name_current_chat fs_12 text-break">{{contact.name}}</div>
                           <div class="Last_message_sent fs_7 color_time text-break" v-if="contact.messages.length > 0">
                              {{contact.messages[contact.messages.length -
                              1].message}}</div>
                        </div>
                     </div>
                     <div class="fs_7 color_time" v-if="contact.messages.length > 0">{{extractLastDate(index)}} </div>
                  </div>
               </div>
            </div>
            <!-- create a container for main Chat  -->
            <div class="main_chat col-8 d-flex flex-column h-100">

               <div class="current_chat">
                  <div
                     class="user_profile standard_height d-flex justify-content-between align-items-center p-2 background_secondary">
                     <div class="users_img d-flex align-items-center">
                        <img class="align-middle rounded-circle" :src="contacts[currentIndex].avatar"
                           alt="users_avatar">
                        <div class="info_chat ms-2">
                           <div class="name_current_chat fs_12 text-break">{{contacts[currentIndex].name}}</div>
                           <div class="Last_message_sent fs_7 color_time"
                              v-if="this.contacts[currentIndex].messages.length > 0">{{this.isWriting()}} </div>
                        </div>
                        <!-- this.isWriting() -->
                     </div>
                     <!-- create navbar current contact  -->
                     <nav class="user_option d-flex align-items-center">
                        <button class="border border-0 bg-transparent">
                           <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                        <button class="border border-0 bg-transparent">
                           <i class="fa-solid fa-paperclip"></i>
                        </button>
                        <button class="border border-0 bg-transparent" data-bs-toggle="dropdown">
                           <i class="fa-solid fa-ellipsis-vertical"></i>
                        </button>
                        <ul class="dropdown-menu">
                           <li>
                              <div class="dropdown-item c_pointer" @click="deleteAllMessages()">Delete all messages
                              </div>
                           </li>
                           <li>
                              <div class="dropdown-item c_pointer" @click="deleteChat(this.currentIndex)">Delete chat
                              </div>
                           </li>
                        </ul>
                     </nav>
                  </div>
                  <!-- create a primary chat place for the current contact -->
                  <div class="chat_text" v-if="contacts[currentIndex].messages.length > 0">
                     <div class="container_messages fs_12" v-for="(message,index) in contacts[currentIndex].messages">
                        <!-- create template to user message  -->
                        <!-- <div class="magic date"></div> -->
                        <div class="position_messagge d-flex justify-content-end dropdown"
                           v-if="message.status == 'sent'">
                           <div class="user_message_container my-1 position-relative"
                              :class="light ? 'bg_user_message' : 'bg_dark_messages'">
                              <div class="message_text text-break me-1">{{message.message}}</div>
                              <div class="message_time fs_7 color_time text-end">{{extractTime(index)}}</div>
                              <div class="arrow_delete position-absolute" data-bs-toggle="dropdown">
                                 <i class="fa fa-chevron-down fa-sm" aria-hidden="true"></i>
                              </div>
                              <ul class="dropdown-menu">
                                 <li><a class="dropdown-item" href="#">Message Info</a></li>
                                 <li>
                                    <div class="dropdown-item c_pointer" @click="deleteMessage(index)">Delete message
                                    </div>
                                 </li>
                              </ul>
                           </div>
                        </div>
                        <!-- create template to other contact message  -->

                        <div class="contact_text my-1 position-relative"
                           :class="light ? 'bg-light ' : 'bg_dark_messages'" data-bs-toggle="dropdown" v-else>
                           <div class="message_text text-break me-1">{{message.message}}</div>
                           <div class="message_time fs_7 color_time text-end">{{extractTime(index)}}</div>
                           <div class="arrow_delete position-absolute">
                              <i class="fa fa-chevron-down fa-sm" aria-hidden="true"></i>
                           </div>
                           <ul class="dropdown-menu">
                              <li><a class="dropdown-item" href="#">Message Info</a></li>
                              <li>
                                 <div class="dropdown-item c_pointer" @click="deleteMessage(index)">Delete message</div>
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div>

               </div>
               <!-- create a input text for chat place -->
               <div class="input_text_zone standard_height background_secondary d-flex">
                  <button class="border border-0 bg-transparent">
                     <i class="fa-regular fa-face-smile "></i>
                  </button>
                  <input type="text" class="chat_input flex-grow-1 my-1 rounded-1" v-model="msg"
                     @keyup.enter="createNewMessage(currentIndex)" autofocus>
                  <button class="border border-0 bg-transparent" v-if="!msg">
                     <i class="fa fa-microphone" aria-hidden="true"></i>
                  </button>
                  <button class="border border-0 bg-transparent" v-if="msg" @click="createNewMessage(currentIndex)">
                     <i class="fa-solid fa-paper-plane"></i>
                  </button>
               </div>
            </div>
         </main>
      </div>
      <footer class="primary_text fs_12 standard_height d-flex align-items-center justify-content-center "
         :class="light ? '' : 'dark_layout' ">
         <i class="fa fa-copyright me-2" aria-hidden="true"></i>
         <span>Damiano Casolari</span>
      </footer>
   </div>

   <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
   <script src="./assets/js/app.js"></script>
</body>

</html>