/* General selector  */

body {
    font-family: 'Roboto', sans-serif;
}

input[type="search"] {
    outline: none;
    border: none;
}

/* Utility selector  */

:root {
    --bz-baground1: #009688;
    --bz-baground2: #DBDBD2;
    --bz-secondary: #eaeaea;
    --bz-notification: #8EDAFC;
    --bz-my_message: #D5F9BA;
    --bz-gray_icon: #b1b1b1;
}

.standard_height {
    height: 40px;
}

.background_secondary {
    background-color: var(--bz-secondary);
}

/* Container selctor  */

.my_background {
    height: 100vh;
    background: linear-gradient(180deg, var(--bz-baground1) 10%, var(--bz-baground2) 10%);

}

.my_container {
    background-color: blue;
    width: 80%;
    height: 90%;
}

.contact_list {
    background-color: green;

}


.contact_list i {
    color: var(--bz-gray_icon);
    /* vertical-align: middle; */
}

/* Chats list selector  */

.users_img>img {
    height: 80%;
}