/* General selector  */
body {
    font-family: 'Roboto', sans-serif;
}

input[type="search"] {
    outline: none;
    border: none;
}

/* Utility selector  */

/* color zone  */
:root {
    --bz-baground1: #009688;
    --bz-baground2: #DBDBD2;
    --bz-secondary: #eaeaea;
    --bz-notification: #8EDAFC;
    --bz-my_message: #d5f9ba;
    --bz-gray_icon: #b1b1b1;
    --bz-gray_light: #ffffff;

}

.background_secondary {
    background-color: var(--bz-secondary);
}

.sidebar i,
.user_profile i {
    color: var(--bz-gray_icon);
    /* vertical-align: middle; */
}

.color_time {
    color: var(--bz-gray_icon);
}

.primary_text {
    color: var(--bz-baground1);
}

/* dimension zone  */
.fs_12 {
    font-size: 12px;
}

.fs_10 {
    font-size: 10px;
}

.fs_7 {
    font-size: 7px;
}

.standard_height {
    height: 40px;
}

.standard_list_height {
    height: 50px;
}


/* Container selctor  */

.my_background {
    height: 100vh;
    background: linear-gradient(180deg, var(--bz-baground1) 10%, var(--bz-baground2) 10%);

}

.my_container {
    width: 80%;
    height: 90%;
}

.main_chat {
    background-image: url("../img/mine.jpg");

}

.sidebar {
    background-color: var(--bz-gray_light);

}


/* --------------Chats list selector ---------------- */


/* sound notification  */

.turn_on_notifications {
    background-color: var(--bz-notification);
}

.bell_icon {
    height: 30px;
    width: 30px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bell_icon>i {
    color: var(--bz-notification);
}


/* input selector  */

.input_container {

    outline-color: gray;
}

.sidebar input[type="search"]::-webkit-input-placeholder {
    color: #999;
    font-size: 10px;
    padding-left: 10px;
    display: flex;
    align-items: center;

}

.sidebar input[type="search"]::placeholder {
    color: #999;
    font-size: 10px;
    padding-left: 10px;
    display: flex;
    align-items: center;
}



/* different chats */

.chats_list img,
.users_img>img {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.chats_list {
    border-bottom: 1px solid var(--bz-secondary);
    background-color: var(--bz-gray_light);
}


/* -----------main section----------   */

.chat_text {
    padding: 7% 10% 0 10%;
}

.message_user_container {
    background-color: var(--bz-my_message);
    padding: 6px 12px 6px 12px;

    border-radius: 8px;
    width: 35%;

}

.contact_text{
    background-color: var(--bz-gray_light);
    padding: 6px 12px 6px 12px;

    border-radius: 8px;
    width: 35%;
}

.message_time {
    margin-top: -5px;
}